<br>
<div class="container border border-primary rounded" style="padding: 20px;">
  <br>
  <h1 class="align-middle">Create a New Product</h1>

  <div class="form-group">
    <form (submit)="onCreate()">

      <label for="">Title</label>
      <input required minlength="3" type="text" class="form-control" name="newProduct.title"
        [(ngModel)]="newProduct.title" placeholder="" aria-describedby="helpId" #name="ngModel">
      <h2 *ngIf="ProductError.title.length">{{ProductError.title}}</h2>

      <label for="">Price</label>
      <input required type="number" class="form-control" name="newProduct.price" [(ngModel)]="newProduct.price"
        placeholder="" aria-describedby="helpId" #name="ngModel">
      <h2 *ngIf="ProductError.price.length">{{ProductError.price}}</h2>


      <label for="">Image URL</label>
      <input type="text" class="form-control" name="newProduct.image" [(ngModel)]="newProduct.image" placeholder=""
        aria-describedby="helpId" #name="ngModel">
      <br>


      <button class="btn btn-success" type="submit">Create</button>

      <button class="btn btn-danger" [routerLink]="['']">Cancel</button>


    </form>
  </div>

</div>